<div class="wrapper">
  <div class="side-bar">
    <div class="side-header">
      <%= render "side_bar" %>
    </div>
    <div class="side-main">
    </div>
  </div>
  <div class="chat">
      <%= render "main_chat" %>
  </div>
</div>